#container{
    background: rgb(142, 142, 238);
    height: 120vh;
    width: 100vw;
    margin: 0;
    padding-top: 100px;

}
form {
    background-color: #fff;
    margin: auto;
    width: 500px;
    padding: 20px;
    
}
form .tit{
    padding:  0 150px;

}
#email input{
    width: 500px;
}
.saisi {
    display: inline-flex;

}


input {
    background-color: rgb(202, 197, 197);
    height: 30px;
}
.aniv {
    display: inline-flex;
    
}
.aniv input {
    margin: 0 3px;
    width: 80px;
    height: 20px;
}
input [type=text]#year {
    width: 20px;
}
.desc {
    display: flex;
    
}
.desc h3 {
    margin: 0 80px;
}
#regions select{
    width: 500px;
    height: 30px;
    background-color: rgb(202, 197, 197);
}
#connexion button{
    width: 500px;
    background-color: blue;
    border-radius: 10px;
}
